
.carousel{
        overflow: hidden !important;
        .carousel-indicators{
            margin-bottom: -25px!important;
        }
        .carousel-indicators li {
            width: 5px !important;
            padding: 3px;
            background-color: #757575;
            opacity: 1 !important;
        }
        .carousel-indicators li.active{
            background-color: #F7941D;
            // border: 2px solid black;
            animation: bounce 2s ease-in;
        } 

        .prev,.next {
            position: absolute;
            cursor: pointer;
            top: 45%;
            z-index: 1;
            font-size: 15px;
            height: 20px;
            width: 20px;
            transform: rotate(45deg);
            background-color: #f68c0b;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 1 !important;
            i{
                display: none;
                color: #f5f5f5;
            }
        }
        .prev{
            left: -20px;
        }
        .next{
            right: -20px;
        }
}

@media screen and (min-width: 746px) {

    .carousel{
        .carousel-indicators{
            margin-bottom: 0px!important;
        }
        .carousel-indicators li {
            background-color: #ffffff;
            width: 5px !important;
            padding: 7px;
        }
        .prev,.next {
            font-size: 30px;
            height: 40px;
            width: 40px;
        }
}
}