


.dashboard-li.actives{ background-color: rgba(103, 103, 103, 0.496)}
.dashboard-li.actives i{ color: rgb(0, 0, 0); }
.dashboard-li.actives p{ color: rgb(0, 0, 0); }
.dashboard-li.actives:hover{ background-color: rgba(0,0,0,.1) !important; }




.management-parent.actives{background-color: rgba(0,0,0,.1);}
.management-parent.actives i{color: rgb(0, 0, 0);}
/* .management-parent.actives:hover{ background-color: #e5e5e5 !important;} */
.management-parent.actives p{ color: rgb(0, 0, 0);}


/* .all-product-li.actives{  background-color: #d6d6d6; } */
.all-product-li.actives,.brand_category-li.actives{ padding-left: 15px;}
.all-product-li.actives i,.brand_category-li.actives i{ color: rgb(255, 255, 255); font-weight: bold;}
.all-product-li.actives p,.brand_category-li.actives p{ color: rgb(252, 252, 252);font-weight: bold; }















.nav-item.active{
    background-color: #152152;
}
.nav-item.active a{
    color: #fff;
}
